<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add prod</title>
</head>
<body style="background-image: url('/static/groceryy.jpg'); background-repeat: no-repeat; background-size: 990px 3280px; background-position: center;">
<center>
    <h1>Add Products</h1>
<form method="POST">
    <input type="text" name="pname" placeholder="pname"><br><br>
  <input type="text" name="pid" placeholder="pid"><br><br>
  <input type="text" name="price" placeholder="price"><br><br>
  <input type="text" name="cid" placeholder="cid"><br><br>
    <input type="number" name="quantity" placeholder="quantity"><br>
    <input type="number" name="max_quantity" placeholder="max_quantity">
    <input type="date" name="manufacturing_date" placeholder="manufacturing_date">

    <input type="submit" name="submit">
</form>
</center>
</body>
</html>
