<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Category</title>
</head>
<body style="background-image: url('/static/groceryy.jpg'); background-repeat: no-repeat; background-size: 990px 3280px; background-position: center;">
    <form method="POST" onsubmit="return confirmDelete();">
        <h4>FOR DELETING EXISTING CATEGORY ENTER ITS ID</h4>
        <input type="text" name="cid" placeholder="cid"><br>
        <input type="hidden" name="confirmation" id="confirmation" value="no"> <!-- Add a hidden input field -->
        <input type="submit" name="submit" value="Delete Category">
    </form>

    <script>
        function confirmDelete() {
            // Display a confirmation popup to the user
            var confirmation = confirm("Are you sure you want to delete this category?");
            if (confirmation) {
                // If the admin confirms, update the hidden input field and submit the form
                document.getElementById("confirmation").value = "yes";
                return true; // Allow form submission
            } else {
                // If the admin cancels, prevent form submission
                return false;
            }
        }
    </script>
</body>
</html>

