<!DOCTYPE html>
<html>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: center;
}
</style>
<style>
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
</style>
<head>
    <title>User Dashboard</title>
</head>
<body style="background-image: url('/static/groceryy.jpg'); background-repeat: no-repeat; background-size: 990px 3280px; background-position: center;">
        <div class="topnav">
        <a href="/">Logout</a>
       </div>
        <br>
        <h1><center>Welcome User {{username}} to IITM GROCERY STORE</center></h1>
    <br>
  <form action="/search" method="GET">
        <input type="text" name="search_query" placeholder="Enter search query">
        <select name="search_option">
            <option value="product_name">Product Name</option>
            <option value="category_name">Category Name</option>
            <option value="price">Price</option>
            <option value="manufacturing_date">Manufacturing Date</option>
        </select>
        <input type="submit" value="Search">
</form>
<form method="post" action="/addtocart">
    <table align="center">
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        {% set current_category = None %}
        <input type="hidden" name="username" value="{{ username }}"> {# Hidden field for user's name #}
        {% for category, products in lp %}
            {% if current_category != category %}
                {% set current_category = category %}
                <tr>
                    <th colspan="3">{{ current_category }}</th>
                </tr>
            {% endif %}
            {% for product in products %}
                <tr>
                    <td>{{ product[0] }}</td>
                    <td>{{ product[1] }}</td>
                    <td>
                        <input type="hidden" name="pname_{{ product[0] }}" value="{{ product[0] }}">
                        <input type="hidden" name="price_{{ product[0] }}" value="{{ product[1] }}">
                        <input type="number" name="quantity_{{ product[0] }}" min="0" value="0">
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        <tr>
            <td colspan="3">
                <button type="submit">Submit Quantities</button> {# Single submit button for all quantities #}
            </td>
        </tr>
    </table>
</form>













<!--    <br>-->
<!--<table align="center">-->
<!--        <tr>-->
<!--        <th>Product</th>-->
<!--        <th>Price</th>-->
<!--            <th>Quantity</th>-->
<!--            <th>Add to cart</th>-->
<!--    </tr>-->
<!--    {% set current_category = None %}-->
<!--    {% for category, products in lp %}-->
<!--        {% if current_category != category %}-->
<!--            {% set current_category = category %}-->
<!--            <tr>-->
<!--                <th colspan="2">{{ current_category }}</th>-->
<!--            </tr>-->
<!--        {% endif %}-->
<!--        {% for product in products %}-->
<!--            <tr>-->
<!--                <td>{{ product[0] }}</td>-->
<!--                <td>{{ product[1] }}</td>-->
<!--                <td>-->
<!--                    <input type="number" name="quantity_{{ product[0] }}" min="0" value="quantity">-->

<!--                </td>-->

<!--&lt;!&ndash;                    <form method="post">&ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="hidden" name="pname" value="{{product[0]}}">&ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="hidden" name="price" value="{{product[1]}}">&ndash;&gt;-->

<!--&lt;!&ndash;                        <td>&ndash;&gt;-->
<!--&lt;!&ndash;                            <input type="hidden" name="username" value="{{ user }}">&ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="hidden" name="quantity" >&ndash;&gt;-->

<!--&lt;!&ndash;                <button type="submit" name="+" formaction="/addtocart" value="+">&ndash;&gt;-->
<!--                </button>-->
<!--                        </form>-->
<!--                </td>-->
<!--            </tr>-->
<!--        {% endfor %}-->
<!--    {% endfor %}-->

<!--</table>-->
<!--        <center>-->
<!--            <br><br>-->
<!--        <form action="/displaycart">-->
<!--            <input type="button" name="view cart" value="view cart">-->
<!--        </form>-->
<!--        </center>-->
</body>
</html>
