<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body style="background-image: url('/static/groceryy.jpg'); background-repeat: no-repeat; background-size: 990px 3280px; background-position: center;">
<center>
<h1>Welcome to GROCERY STORE !! </h1>
<form action='/register'method="POST">
    <input type="text" name="username" placeholder="name">
    <br>
    <input type="password" name="password" placeholder="password">
    <br>
    <input type="text" name="address" placeholder="address">
    <br>
    <input type="submit" name="submit" value="Submit">
</form>
<p>Have an account? <a href="/">Login</a></p>
</center>
</body>
</html>

    <p> have an account? <a href="/"> login</a> </p>
</center>

</body>
</html>
