<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upd pro</title>
</head>
<body style="background-image: url('/static/groceryy.jpg'); background-repeat: no-repeat; background-size: 990px 3280px; background-position: center;">
   <center>
    <form method="POST">
    <h4>FOR updating PRODUCT ENTER ITS ID</h4>
      <input type="text" name="price" placeholder="price"><br>
    <input type="text" name="pid" placeholder="pid"><br>
    <input type="submit" name="submit">
    </form>
   </center>
</body>
</html>
